In [1]:
import pandas as pd
import sys

In [2]:
d = {'one':[1,1],'two':[2,2]}
i = ['a','b']
df = pd.DataFrame(data=d,index=i)
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>two</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>a</th>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>b</th>
      <td>1</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
df.index

Index(['a', 'b'], dtype='object')

In [4]:
stack = df.stack()

In [6]:
stack

a  one    1
   two    2
b  one    1
   two    2
dtype: int64

In [7]:
stack.index

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [9]:
unstack = df.unstack()

In [10]:
unstack

one  a    1
     b    1
two  a    2
     b    2
dtype: int64

In [11]:
unstack.index

MultiIndex(levels=[['one', 'two'], ['a', 'b']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [12]:
transpose = df.T
transpose

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>one</th>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>two</th>
      <td>2</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
transpose.index

Index(['one', 'two'], dtype='object')